:root {
    --wd-dark-gray: rgb(47, 51, 54);
    --wd-dim-gray: rgb(110, 118, 125);
    --wd-tuit-blue: rgb(29, 161, 242);
    --wd-border-dark-gray: rgb(47, 51, 54);
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img {
    width: 100%;
}

.wd-font-1-1rem {
    font-size: 1.1rem;
}

.wd-font-0-75rem {
    font-size: 0.75rem;
}

.wd-font-0-90rem {
    font-size: .90rem;
}

.wd-color-light-gray {
    color: #B5B5B5;
}

.wd-topic-gray {
    color: #979797;
}

.wd-text-tuit-blue {
    color: var(--wd-tuit-blue);
}

.wd-text-dark-gray {
    color: var(--wd-dark-gray);
}

.wd-text-gold {
    color: gold;
}

.wd-avatar-image {
    width: 48px;
    height: 48px;
}

.wd-img-circle {
    border-radius: 50%;
}

.wd-content-image {
    width: 85px;
    height: 85px;
    border-radius: 15px;
}

.wd-main-content {
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

/* --------------------------------------------------- */
/* Overrides for the search bar                        */
/* --------------------------------------------------- */
.search-bar-input > .input-group >.input-group-text {
    border: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #F5F5F5;
    height: 2.5rem;
}

.search-bar-input > .input-group > .form-control {
    border: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: none;
    background-color: #F5F5F5;
    height: 2.5rem;
}

.search-bar-input {
    border: solid 1px lightgray;
    border-radius: 20px;
}

.search-bar-input:focus-within {
    box-shadow: 0 0 0 0.10rem var(--wd-tuit-blue);
    border-radius: 20px;
}

/* --------------------------------------------------- */
/* Overrides for the nav bar                           */
/* --------------------------------------------------- */
.navigation-main .nav-link.active {
    color: var(--wd-dark-gray);
    border-bottom: 3px solid #0d6efd;
}

.navigation-main .nav-link {
    font-weight: bold;
    color: #979797;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

/* --------------------------------------------------- */
/* Overrides for icon stacking                         */
/* --------------------------------------------------- */
.fa-stack {
    width: 1em;
    height: 1em;
    line-height: 1em;
}

.fa-stack-2x {
    font-size: 1em;
}

/* --------------------------------------------------- */
/* Overrides for card and overlay                      */
/* --------------------------------------------------- */
.card-img-overlay {
    border: 0px;
}

.feature-photo > .card {
    border: 0px;
    border-radius: 0;
    margin-bottom: 5px;
}

.feature-photo > .card > .card-img {
    border-radius: 0;
    height: 350px;
    filter: brightness(50%);
}

.feature-photo > .card > .card-img-overlay {
    top: unset;
}

/* --------------------------------------------------- */
/* Overrides for left sidebar                          */
/* --------------------------------------------------- */
.left-sidebar > .list-group {
    border-color: white;
    font-size: 18px;
}

.left-sidebar > .list-group > .list-group-item {
    border-color: white;
    padding-top: 15px;
    padding-bottom: 15px;

}

.left-sidebar > .list-group > .list-group-item.active {
    font-weight: bold;
    background-color: white;
    border-color: white;
    color: black;
}

/* --------------------------------------------------- */
/* Overrides for right sidebar                         */
/* --------------------------------------------------- */
.right-sidebar > .list-group {
    border-color: #F5F5F5;
}

.right-sidebar > .list-group > .list-group-item {
    background-color: #F5F5F5;
    border-color: #F5F5F5;
}

.right-sidebar > .list-group > .list-group-item:nth-child(1) {
    padding-top: 12px;
}

.right-sidebar > .list-group > .list-group-item > .list-group-item-action {
    background-color: #F5F5F5;
    border-color: #F5F5F5;
    padding-left: 0;
}

.wd-main-content .list-group-item {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
}

.btn-primary {
    background-color: var(--wd-tuit-blue)
}