body {
    color: var(--wd-dim-gray);
}

.wd-ellipse-icon {
    color: var(--tuit-blue);
}

.wd-header {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.wd-handle {
    font-size: 13px;
}

.wd-user-name {
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.wd-content-handle {
    font-size: 15px;
}

.wd-main-content {
    color: white;
    font-size: 15px;
}

.wd-linked-image {
    width: 504px;
    height: 264px;
}