body {
    color: var(--wd-dim-gray);
    margin: 0px;
}

.wd-border-all {
    border: 1px solid var(--wd-dim-gray);
}

.wd-border-bottom {
    border-bottom: 1px solid var(--wd-dim-gray);
}

.wd-bookmarks-row {
    display: flex;
    flex-direction: row;
}

.wd-bookmarks-col {
    display: flex;
    flex-direction: column;
}

.wd-fill-space {
    flex-grow: 1;
}

.wd-gap-90 {
    gap: 90px;
}

.wd-justify-center {
    justify-content: center;
}

.wd-align-items-right {
    align-items: flex-end;
}

.wd-align-items-left {
    align-items: left;
}

.wd-width-100pc {
    width: 100%;
}

.wd-width-506px {
    width: 506px;
}

.wd-max-width-506px {
    max-width: 506px;
}

.wd-width-48px {
    width: 48px;
}

.wd-height-48px {
    height: 48px;
}

.wd-width-20px {
    width: 20px;
}

.wd-width-min {
    width: min-content;
}

.wd-ellipse-icon {
    color: var(--tuit-blue);
}

.wd-padding-left-16 {
    padding-left: 16px;
}

.wd-padding-right-16 {
    padding-right: 16px;
}

.wd-padding-top-12 {
    padding-top: 12px;
}

.wd-padding-bottom-12 {
    padding-bottom: 12px;
}

.wd-padding-all-12 {
    padding: 12px;
}

.wd-margin-left-12 {
    margin-left: 12px;
}

.wd-margin-left-5px {
    margin-left: 5px;
}

.wd-margin-right-12px {
    margin-right: 12px;
}

.wd-margin-right-5px {
    margin-right: 5px;
}

.wd-margin-bottom-5px {
    margin-bottom: 5px;
}

.wd-margin-bottom-2px {
    margin-bottom: 2px;
}

.wd-header {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.wd-handle {
    font-size: 13px;
}

.wd-user-name {
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.wd-content-handle {
    font-size: 15px;
}

.wd-main-content {
    color: white;
    font-size: 15px;
}

.wd-linked-image {
    width: 504px;
    height: 264px;
}

.wd-soft-edges-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.wd-soft-edges-bottom {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.wd-fg-color-dim-gray {
    color: var(--wd-dim-gray);
}

.wd-space-between {
    justify-content: space-between;
}

